<li class="active"><a href="#">Home</a></li>
<li><%= link_to t('helpers.titles.students', :default => 'Students'), students_path %></li>
<li><%= link_to t('helpers.titles.managers', :default => 'Managers'), managers_path %></li>